/* Notebook content takes full page width */
.container {
    width: 99% !important;
} 
.output_result {
	max-width:100% !important;
}
.prompt {
	display:none !important;
}

/* Prevent highlight box from getting clipped */
div.cell.selected {
    border-left-width: 1px !important;
}
